<div class="container mt-5 p-5 back">
  <h1 class="text-center title">Welcome to shaik karimulla</h1>
  <div class="row">
    <h2 class="label col-6">Username</h2>
    <span class="col-6"><p class="values">: karimulla1696</p></span>
    <h2 class="label col-6">Email</h2>
    <span class="col-6">: <input type="email" value="karimulla@gmail.com" placeholder="Enter New Email" disabled></span>
    <h2 class="label col-6">Phone Number</h2>
    <span class="col-6">: <input type="number" value="1234567890" placeholder="Enter New Mobile Number" disabled></span>
    <h2 class="label col-6">No Of Posts</h2>
    <span class="col-6"><p class="values">: 10</p></span>
  </div>
  <div class="row p-5">
    <div class="col-md-4 col-12">
        <button type="button" class="btn btn-primary">Update Profile</button>
    </div>
    <div class="col-md-4 col-12">
        <button type="button" class="btn btn-primary">Change Password</button>
    </div>
    <div class="col-md-4 col-12">
        <button type="button" class="btn btn-danger">Email delete</button>
    </div>
  </div>
  
</div>